main{
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1de2aeae-bec2-44e5-bb27-e7ae934a605e/dagkx25-fc271842-4c2a-44ee-9e79-beae31302eeb.jpg/v1/fill/w_1024,h_576,q_75,strp/pokeballs_minimalist_wallpaper_by_dragoleni_dagkx25-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTc2IiwicGF0aCI6IlwvZlwvMWRlMmFlYWUtYmVjMi00NGU1LWJiMjctZTdhZTkzNGE2MDVlXC9kYWdreDI1LWZjMjcxODQyLTRjMmEtNDRlZS05ZTc5LWJlYWUzMTMwMmVlYi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.P2bzyijY56eSKJpcRb-WBRwVbwQP1Dfi8Tq05FQTbek");
    min-height: 100vh;
    height: 100%;
    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2.5rem;
        color: white;
        top: 30px;
    }
    section{
        padding: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        figure{
            position: relative;
            width: 600px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            h1{
                position: relative;
                font-size: 19rem;
                color: blue;
                z-index: 5;
                text-shadow:  5px 5px yellow;
                animation: moveUpAndDown 1.3s alternate infinite;
            }
            .bg{
                position: absolute;
                width: 90%;
                animation: is-rotating 1s linear infinite;
                transition: all .2s;
                object-fit: contain;
            }
            .circle{
                position: absolute;
                width: 60%;
            }
        }
    }    
    .poks{
        position: relative;
        max-width: 800px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
        margin: auto;
        top: 70px;

        .grayCard{
            width: 50%;
            flex: 1;
            min-width: 300px;
            background-color: gray;
            border-radius: 10px;
            overflow: hidden;

            .backImg{
                height: 85px;
                margin-left: 280px;
                object-fit: contain;
                transform: scale(1.4) rotate(-25deg);
                filter: blur(1px);
                opacity: 0.5;
            }
        }
        
        .card-poke{
            width: 50%;
            flex: 1;
            min-width: 300px;
            .edit{
                display: flex;
                justify-content: flex-end;
                margin: 10px;
                .contentOfEdit{
                    position: absolute;
                    display: flex;
                    align-items: center;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    z-index: 1;
                    margin-top: 15px;
                    .bin{
                        height: 30px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .buttons {
        display: flex;
        .icon{
            height: 20px;
        }
        img{
            position: relative;
            filter: brightness(1) contrast(1) invert(1);
            right: 10px;
        }
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row-reverse;
            padding: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border: none;
            border-radius: 10px;
            font-size: 0.8rem;
            margin-right: 10px;
            width: 125px;
            color: white;
            &.regenerate{
                background-color: #30a7d7;
            }
            &.saves{
                background-color: #36c919;
            }
            &.delete{
                .iconDel{
                    height: 25px;
                }
                background-color: #dd3434;
            }
            &.edit{
                background-color:#e3cf00;
            }
        }
    }
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

@keyframes moveUpAndDown {
    to {
        transform: translateY(50px);
    }
  }