footer{
    background-color: rgb(59, 58, 58);
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
.copyright{
    color: white;
    text-decoration: none;
    font-size: 1.2rem
}
}