main{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("https://pokedex-web-mocha.vercel.app/body_bg.5109f2cea7715438.png");
    font-family: Arial, Helvetica, sans-serif;
.titlePoke{
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 70px;
    height: 100px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    .arrow{
        right: 200px;
        height: 55px;
        width: 55px;
        position: relative;
    }
    .contentPok{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(160, 147, 147, 0.61);
        width: 20rem;
        border-radius: 10px;
    ul{
        margin: 10px;
        
            margin-top: 10px;
            text-transform: capitalize;
        }
    }
    .imgPokemon{
        background-color: rgb(168, 160, 160);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
        border-radius: 10px;
        width: 100%;
        .imgPoke{
            height: 150px;
        }
        h1{
            text-transform: capitalize;
        }
    }
}
}