@import 'src/styles.scss';

main{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://pokedex-web-mocha.vercel.app/body_bg.5109f2cea7715438.png");
    padding-top: 100px;
    .searchPokemon{
        position: relative;
        display: flex;
        justify-content: center;
        bottom: 70px;
        right: 250px;
        #inputSearch{
            position: relative;
            border: none;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            z-index: 99;
            min-width: 200px;
            max-width: 300px;
            padding: 8px;
            border-radius: 10px;
        }
        .btn_send{
            position: absolute;
            margin-left: 155px;
            z-index: 99;
            .magnifyingGlass{
                height: 25px;
            }
            .binForClear{
                height: 25px;
            }
        }
    }
    .gif{
        .gifPokeball{
            position: relative;
            left: 450px;
            bottom: 110px;
            z-index: 99;
        }
    }
    section{
        gap: 10px;
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        app-pok-card{
            min-width: 290px;

            max-width: 315px;
            flex: 1;
        }
    
    }
    .titlePoke:hover{
        transform: scale(1.1) rotate(-5deg);
    }
}